.projects-section {
    text-align: center;
    padding: 5rem 2rem;
    background-color: #eee;
  }

 
  .projects-section > h2 {
    font-size: 40px;
    font-family: calibri;
    color: #ff6363;
    text-decoration: none;
  }
  
  .projects-section-header {
    max-width: 800px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid #3a3d40;
  }
  
  .projects-grid {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 6rem;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 6rem;
    justify-content: center;
  }
  
  .project {
    background: #3a3d40;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  
  
  .project-title {
    font-size: 2rem;
    padding: 1rem 0.5rem;
    font-family: lobster;
    text-decoration: none;
    color: #eee ;
  }
  
  .project:hover {
    background: #ff6363;
    transition: background-color 400ms linear;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  a {
    text-decoration: none;
  }
