<section id="projects" class="projects-section">
  <h2 class="projects-section-header">Estos son algunos de mis proyectos</h2>

  <div class="projects-grid">
    <div>
      <a
        href="https://jorgemandela.github.io/Encriptador/"
        target="_blank"
        class="project-tile"
      >
        <img
          class="project-img"
          alt="proyecto"
          src="../../../assets/Screenshot 2022-08-10 190143.png"
        />
        <p class="project project-title">Encriptador de Texto</p>
      </a>
    </div>
    <div>
      <a
        href="https://jorgemandela.github.io/App-de-Presupuesto/"
        target="_blank"
        class="projet-title"
      >
        <img
          class="projet-img"
          alt="proyecto"
          src="../../../assets/Screenshot 2022-07-23 145534.png"
        />
        <p class="project project-title">App. de presupuesto</p>
      </a>
    </div>
    <div>
      <a
        href="https://jorgemandela.github.io/App-Relog-Digital/"
        target="_blank"
        class="projet-title"
      >
        <img
          class="projet-img"
          alt="proyecto"
          src="../../../assets/Screenshot 2022-07-23 151929.png"
        />
        <p class="project project-title">Reloj digital</p>
      </a>
    </div>
    <div>
      <a
        href="https://jorgemandela.github.io/App-Listado-de-Personas/"
        target="_blank"
        class="projet-title"
      >
        <img
          class="projet-img"
          alt="proyecto"
          src="../../../assets/Screenshot 2022-07-23 152716.png"
        />
        <p class="project project-title">Listado de personas</p>
      </a>
    </div>
    <a
      href="https://github.com/jorgemandela/task-list"
      target="_blank"
      class="projet-title"
    >
      <img
        class="projet-img"
        alt="proyecto"
        src="../../../assets/Screenshot 2022-07-23 161212.png"
      />
      <p class="project project-title">Lista de Tareas</p>
    </a>
  </div>
</section>
