<section id="experiencia" class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
      <ul>
        <li>
          <h2>Cervelar</h2>
          <h3>2017-2020</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sapiente, in quos architecto quaerat molestiae quod iusto eos totam. Corporis velit magnam impedit modi minima ab fugiat nobis repudiandae! Debitis.</p>
        </li>
        <li>
          <h2>Trabajo 2</h2>
          <h3> 2020-2021</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium eum consequatur laboriosam sed vero ratione veritatis, magnam expedita neque dignissimos vel doloremque officia similique tempora quia voluptatum consectetur hic alias!</p>
        </li>
        <li>
          <h2>Trabajo 3</h2>
          <h3>2021-2022</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores laborum maiores debitis esse quam, optio laboriosam quas vero eligendi voluptatibus nam enim perferendis corporis cum quaerat illo dolorum commodi quo!</p>
        </li>
      </ul>
    </div>
  </section>
