footer {
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding: 2rem;
    background: #181719;
    border-top: 4px solid #ff6363;
  }
  
  footer > p {
    font-size: 20px;
    color:white;
    
  }