<section id="contacto" class="lista_contacto">
  <div class="contacto-header">
    <h2 class="contacto-header">Contacto</h2>
  </div>
  <div class="contactos">
    <p class="detalles-contacto" >
      <i class="bi bi-envelope"></i> jorgeortuno28@gmail.com
    </p>
    <a
      class="detalles-contacto"
      id="profile-link"
      href="https://github.com/jorgemandela"
      target="_blank"
    >
      <i class="bi bi-github"></i>
      Github
    </a>
    <a
      class="detalles-contacto"
      href="https://www.facebook.com/jorge.ortuno.1675 "
      target="_blank"
    >
      <i class="bi bi-facebook"></i> 
      Facebook
    </a>
    <a
      class="detalles-contacto"
      href="https://twitter.com/JorgeMandelaO "
      target="_blank"
    >
      <i class="bi bi-twitter"></i> 
      Twitter
    </a>
  </div>
</section>
