.row {
    padding: 5%;
    border-top: 4px solid #FF6363;
    border-bottom: 4px solid #FF6363 ;
    
}

div {
    background-color: #3a3d40;
    
}
 
h2 {
    color: white;
    text-decoration: underline;
    font-weight: bold;
    padding-top: 25%;
    text-align: center;
}

p {
    color: white;
    text-align: center;
    font-size: 2rem;
}

img{
    top: 5%;
    border-radius: 50%;
    border-style: solid;
    
}

