<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/WhatsApp Image 2022-04-30 at 10.53.53 PM (1).jpeg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h2> {{persona.nombre}}  {{persona.apellido}}</h2>
    </div>
    <div id="acerca" class="col-xs-12 col-sm-8 col-md-8 col-lg-8"> 
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. In voluptatum reiciendis consequatur aliquid incidunt vero esse similique delectus odio doloribus sapiente id tenetur nam, aperiam tempora repellat unde culpa quos repellendus cupiditate natus molestias accusamus numquam! Repudiandae amet, qui tempore, ut, voluptatum dolores quas expedita accusantium aperiam dolor reiciendis natus enim obcaecati iste. Non itaque sint assumenda, eligendi quae accusantium, quis nam, iste natus vero nemo facilis. Earum qui illum recusandae assumenda! Necessitatibus a excepturi, doloremque ducimus rem beatae! Sequi provident explicabo quisquam facilis ipsam accusantium enim possimus delectus? Blanditiis doloremque, enim deserunt eaque quia fugit sequi minima eos rem.</p>
    </div>
</div>