<div class="row" id="about">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/WhatsApp Image 2022-04-30 at 10.53.53 PM (1).jpeg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h2> {{persona.nombre}}  {{persona.apellido}}</h2>
    </div>
    <div id="acerca" class="col-xs-12 col-sm-8 col-md-8 col-lg-8"> 
        <p> Soy apasionado, sociable y proactivo. Actualmente estoy buscando una oportunidad para poner en practica los conocimientos que he venido cultivando a lo largo del tiempo en pro de la innovación y la eficiencia. </p>
       
        <!-- <button type="button"  (click)="deletePersona(persona.id)" class="btn btn-primary">Primary</button> -->
    </div>
</div>