#experiencia {
    background-color: #000;
    background-image: linear-gradient(180deg, #6901d1 0%, #0279f0 100%);
  }

  div {
    padding: 1%;
  }
  
  h1 {
    font-size: 4.5rem;
    color: #F4EEEA;
    font-family: lobster;
    text-align: center;
    padding-top: 5%;
  }
  
   h2 {
    font-size: 2rem;
    font-style:bold;
    color:white;
    padding-left: 5%;
    text-align: center;
  }

  h3 {
    padding-left: 5%;
    text-align: center;
  }

  p {
    font-size: 1.5rem;
    color: white;
  }

  li {
    border-bottom: 2px solid black;
    padding: 1%;
  }

  div > #circulos{
    padding: 3%;
    display: flex;
    border-bottom: 2px solid black;
    
  }

  div > .h2-circulos{
    padding-bottom: 3%;
  }

  @media (max-width: 61.25em) {
    #circulos {
      flex-direction: column;
    }
  }