#experiencia {
  background-color: #eee;
}

div {
  padding: 1%;
}

h1 {
  font-size: 4.5rem;
  color: #ff6363;
  font-family: lobster;
  text-align: center;
  padding-top: 5%;
}

h2 {
  font-size: 2rem;
  font-style: bold;
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  font-size: 1.5rem;
  text-align: center;
}

li {
  border-bottom: 2px solid #ff6363;
  padding: 1%;
}

div > #circulos, .otros {
  padding: 3%;
  display: flex;
  justify-content: center;
}

div > .h2-circulos {
  padding-bottom: 3%;
}

@media (max-width: 61.25em) {
  #circulos {
    flex-direction: column;
  }
}

.botones {
  display: flex;
  justify-content: center;
}
