<section id="educacion" class="row">
    <h1>Conocimientos</h1>
    <div id="div_inicio"class="col-lg-11">
      <ul>
        <li>
          <h2>Universidad</h2>
          <h3>2017-2020</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sapiente, in quos architecto quaerat molestiae quod iusto eos totam. Corporis velit magnam impedit modi minima ab fugiat nobis repudiandae! Debitis.</p>
        </li>
        <li>
          <h2>Conocimiento 2</h2>
          <h3> 2020-2021</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium eum consequatur laboriosam sed vero ratione veritatis, magnam expedita neque dignissimos vel doloremque officia similique tempora quia voluptatum consectetur hic alias!</p>
        </li>
        <li>
          <h2>Conocimiento 3</h2>
          <h3>2021-2022</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores laborum maiores debitis esse quam, optio laboriosam quas vero eligendi voluptatibus nam enim perferendis corporis cum quaerat illo dolorum commodi quo!</p>
        </li>
      </ul>
  
    <div class="circulos">
      <h2 id="h2_circulos"> Hard Skills</h2>
      <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'red'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="300"
            [showSubtitle]="false"
            [title]="'HTML'"
            [showInnerStroke]="false"
            [titleColor]="'orange'"
            [titleFontSize]="'35'"
          ></circle-progress>
          <circle-progress
          [percent]="80"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'red'"
          [innerStrokeColor]="'white'"
          [animation]="true"
          [animationDuration]="300"
          [showSubtitle]="false"
          [title]="'CSS'"
          [showInnerStroke]="false"
          [titleColor]="'orange'"
          [titleFontSize]="'35'"
          ></circle-progress>
          <circle-progress
          [percent]="60"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'red'"
          [innerStrokeColor]="'white'"
          [animation]="true"
          [animationDuration]="300"
          [showSubtitle]="false"
          [title]="'JS'"
          [showInnerStroke]="false"
          [titleColor]="'orange'"
          [titleFontSize]="'35'"
          ></circle-progress>
          <circle-progress
          [percent]="50"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'red'"
          [innerStrokeColor]="'white'"
          [animation]="true"
          [animationDuration]="300"
          [showSubtitle]="false"
          [title]="'ANGULAR'"
          [showInnerStroke]="false"
          [titleColor]="'orange'"
          [titleFontSize]="'35'"
></circle-progress>
    </div>
    <div class="circulos">
      <h2>Soft Skills</h2>
        <circle-progress
      [percent]="95"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#e3e704'"
      [innerStrokeColor]="'orange'"
      [animation]="true"
      [animationDuration]="300"
      [showSubtitle]="false"
      [title]="'Trabajo en Equipo'"
      [showInnerStroke]="false"
      [titleColor]="'white'"
      [titleFontSize]="'20'"
></circle-progress>
<circle-progress
[percent]="100"
[radius]="100"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#e3e704'"
[innerStrokeColor]="'orange'"
[animation]="true"
[animationDuration]="300"
[showSubtitle]="false"
[title]="'Comunicacion'"
[showInnerStroke]="false"
[titleColor]="'white'"
[titleFontSize]="'20'"
></circle-progress>
<circle-progress
[percent]="80"
[radius]="100"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#e3e704'"
[innerStrokeColor]="'orange'"
[animation]="true"
[animationDuration]="300"
[showSubtitle]="false"
[title]="'Proactividad'"
[showInnerStroke]="false"
[titleColor]="'white'"
[titleFontSize]="'20'"
></circle-progress>
<circle-progress
[percent]="70"
[radius]="100"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#e3e704'"
[innerStrokeColor]="'orange'"
[animation]="true"
[animationDuration]="300"
[showSubtitle]="false"
[title]="'Ingles'"
[showInnerStroke]="false"
[titleColor]="'white'"
[titleFontSize]="'20'"
></circle-progress>

    </div>
  </div>
  </section>
