<section id="experiencia">
  <h1>Conocimientos</h1>
  <div class="botones">
    <button
      type="button"
      class="btn btn-outline-danger"
      routerLink="/nuevoconoc"
      *ngIf="isLogged"
    >
    <i class="bi bi-plus-square"></i>
      Nuevo conocimiento
    </button>
  </div>
  <div>
    <div>
      <ul>
        <li *ngFor="let Conocimientos of conoc">
          <h2>{{ Conocimientos.tituloC }}</h2>
          <h3>{{ Conocimientos.centroC }}</h3>
          <h4>{{ Conocimientos.anios }} Año/s</h4>
          <div class="botones">
          <td *ngIf="isLogged">
            <button
              class="btn btn-light"
              routerLink="/editconoc/{{ Conocimientos.id }}"
            >
              <i class="bi bi-pencil-square"></i>Editar
            </button>
          </td>
          <td *ngIf="isLogged">
            <button
              class="btn btn-danger"
              (click)="deleteC(Conocimientos.id)"
            >
              <i class="bi bi-x-square-fill"></i>Borrar
            </button>
          </td>
        </div>
        </li>
      </ul>
    </div>

    <div id="circulos">
      <div class="hardsk">
        <h2 class="h2-circulos">Hard Skills</h2>
        <circle-progress
          [percent]="90"
          [radius]="60"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'red'"
          [innerStrokeColor]="'white'"
          [animation]="true"
          [animationDuration]="300"
          [showSubtitle]="false"
          [title]="'HTML'"
          [showInnerStroke]="false"
          [titleColor]="'tomato'"
          [titleFontSize]="'20'"
        ></circle-progress>
        <circle-progress
          [percent]="80"
          [radius]="60"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'red'"
          [innerStrokeColor]="'white'"
          [animation]="true"
          [animationDuration]="300"
          [showSubtitle]="false"
          [title]="'CSS'"
          [showInnerStroke]="false"
          [titleColor]="'tomato'"
          [titleFontSize]="'20'"
        ></circle-progress>
        <circle-progress
          [percent]="70"
          [radius]="60"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'red'"
          [innerStrokeColor]="'white'"
          [animation]="true"
          [animationDuration]="300"
          [showSubtitle]="false"
          [title]="'JS'"
          [showInnerStroke]="false"
          [titleColor]="'tomato'"
          [titleFontSize]="'20'"
        ></circle-progress>
        <circle-progress
          [percent]="60"
          [radius]="60"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'red'"
          [innerStrokeColor]="'white'"
          [animation]="true"
          [animationDuration]="300"
          [showSubtitle]="false"
          [title]="'ANGULAR'"
          [showInnerStroke]="false"
          [titleColor]="'tomato'"
          [titleFontSize]="'20'"
        ></circle-progress>
      </div>
      <div>
        <h2 class="h2-circulos">Soft Skills</h2>
        <circle-progress
          [percent]="85"
          [radius]="60"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'lightgreen'"
          [innerStrokeColor]="'white'"
          [animation]="true"
          [animationDuration]="300"
          [showSubtitle]="false"
          [title]="'Compañerismo'"
          [showInnerStroke]="false"
          [titleColor]="'tomato'"
          [titleFontSize]="'15'"
        ></circle-progress>
        <circle-progress
          [percent]="60"
          [radius]="60"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'lightgreen'"
          [innerStrokeColor]="'white'"
          [animation]="true"
          [animationDuration]="300"
          [showSubtitle]="false"
          [title]="'Ingles'"
          [showInnerStroke]="false"
          [titleColor]="'tomato'"
          [titleFontSize]="'20'"
        ></circle-progress>
        <circle-progress
          [percent]="100"
          [radius]="60"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'lightgreen'"
          [innerStrokeColor]="'white'"
          [animation]="true"
          [animationDuration]="300"
          [showSubtitle]="false"
          [title]="'Sociabilidad'"
          [showInnerStroke]="false"
          [titleColor]="'tomato'"
          [titleFontSize]="'15'"
        ></circle-progress>
      </div>
    </div>
  </div>
</section>
