<nav id="navbar" class="nav"> 
    <ul class="nav-list">
      <li> <a href="#welcome-section"> Inicio</a>
      </li>
      <li> <a href="#experiencia"> Experiencia</a></li>
      <li> <a href="#projects"> Trabajos </a> 
      </li>
      <li> <a href="#contacto"> Contacto </a> 
      </li>
      <li> <a class="login" id="logbtn" href="/login" *ngIf="!isLogged">Login</a></li> 
      <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar sesion</button>
    </ul>
  </nav>